.top {
  /* width: 100%; */
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
  border: 1px solid black;
  color: white;
  background-color: #404040;
  /* background-color: rgba(54, 49, 49, 0.568); */
}
.topLeft {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 2px solid pink; */
  /* background-color: black; */
}

.topRight {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid pink; */
}

.topCenter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 6;
  /* border: 2px solid red; */
  /* color: white; */
  /* padding: 1vh 1vw; */
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  /* color: white; */
  margin-right: 20px;
  /* font-size: 18px;
  font-weight: 300; */
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 800;
  padding: 1vh 0.5vw;
  color: white;
}
/* .topListItem:hover {
  background-color: white;
  color: black;
  border: none;
  border-radius: 13px;
} */

.topSearchIcon_bar {
  padding: 0.5vh 0.5vw;
  background-color: nones;
  border: none;
  width: 87%;
  border-radius: 13px;
}
.topSearchIcon {
  /* border: 2px solid gainsboro; */
  border: none;
  padding: 0.5vh 0.5vw;
  background-color: #e0dada;
  color: white;
  border-radius: 13px;
}
.topSearchIcon_div {
  border: 4px solid #e0dada;
  border-radius: 10px;
  background-color: #e0dada;
  width: 72%;
  margin-left: 2rem;
}

/* .topImg:active {
  color: white;
} */
